<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>

      <!-- MENU LIST BEGINS -->
      <ion-list>
        <ion-item><button class="button icon ion-gear-a"></button></ion-item>

          <ion-item class="item item-thumbnail" padding="false" style="
    margin-left: -40%;
">
            <img src="https://d13yacurqjgara.cloudfront.net/users/24078/screenshots/1863126/line_cat.jpg">
          </ion-item>

        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <!--<button class="button button-block button-positive" padding="true">
          Block Button
        </button> -->
        <ion-item item-button-right menu-close href="#/app/browse">
          <button class="button button-positive" padding="true">    Crawl
          </button>
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
