<!-- <div class="modal">
  <header class="bar bar-header bar-positive">
    <h1 class="title">I'm A Modal</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
  </header>
  <content has-header="true" padding="true">
    <div class="list">


  <div class="item item-divider">
    Noise Level
  </div>
  <div class="item range range-positive">
    <i class="icon ion-volume-low"></i>
    <input type="range" name="noiseLevel" min="0" max="100" value="33">
    <i class="icon ion-volume-high"></i>
  </div>

    <div class="item item-divider">
      Crowd Level
    </div>
    <div class="item range range-assertive">
      <i class="icon ion-person"></i>
      <input type="range" name="volume" min="0" max="100" value="33">
      <i class="icon ion-ios-people"></i>
    </div>
    </div>
  </content>
</div> -->